[submodule "lib/aave-delivery-infrastructure"]
	path = lib/aave-delivery-infrastructure
	url = https://github.com/bgd-labs/aave-delivery-infrastructure
	branch = feat/zksync
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/bgd-labs/aave-helpers
